<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Driving Centres in Nepal</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
</head>
<body class="container">

    <header>
        <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Driving Centres in Nepal
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add</a></li>
        </ul>
      
    </div>
</nav>
    </header>

    <main>
        <form method="post" action="/add">

    <div class="form-group"> <!-- Full Name -->
        <label for="title" class="control-label">Name of Driving Centre</label>
        <input type="text" class="form-control" id="name" name="title" placeholder="Kantipur Driving Institute">
    </div>

    <div class="form-group"> <!-- Street 1 -->
        <label for="description" class="control-label">Location</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Baneshwor">
    </div>   
    <div class="form-group"> <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>     
    
</form>
        
    </main>

    <footer>
        
<p class="text-center text-muted"></p>
    </footer>
    
</body>
</html>